.caixaP{
  margin: 10px 10px 10px 10px;
  width: 40%; height: auto; 
  min-width: 500px;
  max-height: 400px;
  box-shadow: inset 0 0 10px rgba(0,0,0,.5);
  padding-bottom: 5px;
  border-radius: 10px;  
  overflow-y: auto
  
}
.caixaP:hover,
.caixaP:focus{
 
  box-shadow: 5px 5px, inset 0 0 10px rgba(0,0,0,.5);
  
}

.titulo{
  padding: 10px;
  text-align: center;
  font-weight: bold;
  border: 7px solid rgba(0,0,0,.05);
  border-radius: 10px;
  background-clip: padding-box;
  box-shadow: 0 0 2px rgba(0, 0, 0, .5);
  position: sticky;
  top: 0; /* Don't forget this, required for the stickiness */
}

.texto{
  padding: 20px;
  font-weight: bold;
}

.lista{
  text-transform: uppercase;
  
}

.item{
  margin: 10px 10px 10px 10px;
  width: 40%; height: auto; 
  min-width: 400px;
  background-color: #FFFAFA	;
  border: 1px solid #696969	;
  padding: 5px 5px 5px 5px;
  border-radius: 10px;
}
.item:hover,
.item:focus{
  border-color: #4caf50;
  box-shadow: 0 0 0 3px #98ff98;
}

