.button {
  font-size: 1rem;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  cursor: pointer;
  border: none;
  border-radius: 0.4rem;
  background-color: #4caf50;
  color: white;
  padding: 0.8rem 1.2rem;
  box-sizing: border-box;
  transition: 0.1s;
  min-width: 8rem;
}

.button:hover,
.button:focus {
  outline: none;
  box-shadow: 0 0 0 3px #98ff98, 0 0 0 4px #4caf50;
}
.button:disable {
  opacity: 0.5rem;
  cursor: wait;
}

.buttonMore {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  cursor: pointer;
  border: none;
  border-radius: 0.4rem;
  background-color: #1e90ff;
  color: white;
  box-sizing: border-box;
  transition: 0.1s;
}

.filterOn {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  cursor: pointer;
  border: none;
  border-radius: 0.4rem;
  background-color: #4caf50;
  color: white;
  box-sizing: border-box;
  transition: 0.1s;
}
.filterOff {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  cursor: pointer;
  border: none;
  border-radius: 0.4rem;
  background-color: #dcdcdc;
  color: white;
  box-sizing: border-box;
  transition: 0.1s;
}

.filterOnP {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  cursor: pointer;
  border: none;
  border-radius: 0.4rem;
  background-color: #c21807;
  color: white;
  box-sizing: border-box;
  transition: 0.1s;
}

.filterOn:hover,
.filterOn:focus {
  outline: none;
  box-shadow: 0 0 0 1px #98ff98, 0 0 0 2px #4caf50;
}

.filterOnP:hover,
.filterOnP:focus {
  outline: none;
  box-shadow: 0 0 0 1px #ca3433, 0 0 0 2px #c21807;
}

.filterOff:hover,
.filterOff:focus {
  outline: none;
  box-shadow: 0 0 0 1px #d9dddc, 0 0 0 2px #dcdcdc;
}

.buttonMore:hover,
.buttonMore:focus {
  outline: none;
  box-shadow: 0 0 0 1px #4169e1, 0 0 0 2px #1e90ff;
}

.buttonEdit {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  cursor: pointer;
  border: none;
  border-radius: 0.4rem;
  background-color: #4caf50;
  color: white;
  box-sizing: border-box;
  transition: 0.1s;
}

.buttonEdit:hover,
.buttonEdit:focus {
  outline: none;
  box-shadow: 0 0 0 1px #98ff98, 0 0 0 2px #4caf50;
}

.buttonDelete {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  cursor: pointer;
  border: none;
  border-radius: 0.4rem;
  background-color: #800000;
  color: white;
  box-sizing: border-box;
  transition: 0.1s;
}

.buttonDelete:hover,
.buttonDelete:focus {
  outline: none;
  box-shadow: 0 0 0 1px tomato, 0 0 0 2px #800000;
}

.divider {
  width: 5px;
  height: auto;
  display: inline-block;
}

.dividerVertical {
  height: 3px;
  display: block;
}

.buttonCancel {
  font-size: 1rem;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  cursor: pointer;
  border: none;
  border-radius: 0.4rem;
  background-color: #800000;
  color: white;
  padding: 0.8rem 1.2rem;
  box-sizing: border-box;
  transition: 0.1s;
  min-width: 8rem;
}

.buttonCancel:hover,
.buttonCancel:focus {
  outline: none;
  box-shadow: 0 0 0 3px tomato, 0 0 0 4px #800000;
}
