.input[type=text], .select, .textarea {
  border: 1px solid #eee;
  display: block;
  width: 100%;
  font-size: 1rem;
  padding: 0.8rem;
  border-radius: 0.4rem;
  background: #eee;
  transition: 0.2s;
  padding: 12px;
  box-sizing: border-box;
  text-transform: uppercase;
}

.input[type=date] {
  border: 1px solid #eee;
  display: block;
  font-size: 1rem;
  padding: 0.8rem;
  border-radius: 0.4rem;
  background: #eee;
  transition: 0.2s;
  padding: 12px;
  box-sizing: border-box;
}

.input[type=checkbox] {
  transform : scale(2); 
  float: center;
  text-align:center;
  margin-top: 20px;
}


.select:focus,
.select:hover{
  outline: none;
  border-color: #4CAF50;
  background: white;
  box-shadow: 0 0 0 3px #98ff98;
}

.textarea:focus,
.textarea:hover{
  outline: none;
  border-color: #4CAF50;
  background: white;
  box-shadow: 0 0 0 3px #98ff98;
}

.input:hover,
.input:focus{
  outline: none;
  border-color: #4CAF50;
  background: white;
  box-shadow: 0 0 0 3px #98ff98;
  
}

/* Style the label to display next to the inputs */
.label {
  padding: 12px 12px 12px 0;
  display: inline-block;
 
  font-weight: bold;
}

/* Style the container */
.container {
  width: 600px;
  border-radius: 5px;
  padding: 20px;
  margin: 50px 50px 50px 50px;
  border: 3px solid green;
}

/* Floating column for labels: 25% width */
.col25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

/* Floating column for inputs: 75% width */
.col75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}



/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 500px) {
  .col25, .col75, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}